!!!
%html{ 'xml:lang' => 'en', :lang => 'en', :xmlns => 'http://www.w3.org/1999/xhtml', :class => 'blue' }
  %head
    %title= @photographer.name
    = stylesheet_link_tag 'theme'
    = javascript_include_tag 'theme'
    = csrf_meta_tags
  %body.blue
    #header
      .container_24
        .grid_24
          #logo
            %a{ :href => root_path, :title => @photographer.name }
              = image_tag('theme_default/blue/logo.png', :alt => @photographer.name)
          #navigation
            %ul.topnav
              %li
                = link_to('Portfolio', '#')
                %ul.subnav
                  - @portfolios.each do |portfolio|
                    %li= link_to(portfolio.title, portfolio_path(portfolio))
              - @pages.each do |page|
                %li= link_to(page.title, page_path(page))
              %li= link_to('Blog', @photographer.blog_url)
    #main_slider
      .container_24
        .grid_24
          #slider-wrapper
            #slider.nivoSlider
              - @portfolios.each do |portfolio|
                = image_tag(portfolio.cover.url, :alt => portfolio.title, :title => portfolio.title)
            #htmlcaption.nivo-html-caption This is an example of a caption.
            :javascript
              $(window).load(function() {
                $('#slider').nivoSlider();
              });
      .clear
    #footer
      .container_24
        .grid_24
          .footer_logo
            %a{ :href => root_path }
              = image_tag('theme_default/blue/footer_logo.png', :alt => @photographer.name)
          #copyright
            Copyright &copy; 2011
            %a{ :href => root_path }= @photographer.name
            | All rights Reserved
          #grokphoto= link_to('powered by: GrokPhoto', 'http://grokphoto.org', :target => '_blank')
          .clear